.header {
    background: linear-gradient(to right, #ea2e83 0%,#d328b1 35%,#ad21b2 70%,#b767bf 100%);
    height: 40px;
    padding: 0 15px;
    margin-bottom: 5px;
    position: relative;
}

.header:hover{
    background: linear-gradient(to left, #ea2e83 0%,#d328b1 35%,#ad21b2 70%,#b767bf 100%);
}

.img {
    background: url("../../images/home.svg") 50% 50% no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5%;
    left: 2%;
}

.headerTxt {
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    padding-top: 5px;
    padding-left: 40px;
    margin: 0;
}

.content {
    background: linear-gradient(135deg, #ea2e83 0%,#d328b1 35%,#ad21b2 70%,#b767bf 100%);
    padding: 0 15px;
}

.content h1 {
    text-align: center;
    color: #ffffff;
    padding-top: 50px;
    margin: 0;
}

.content h3 {
    color: white;
    text-align: center;
}

.someTxt {
    color: white;
    width: 550px;
    text-align: center;
    margin: 20px auto 0;
}

.txt {
    color: white;
    text-align: center;
    width: 700px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.cards {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.card {
    border: 4px solid #F137A6;
    width: 45%;
    color: white;
    min-height: 150px;
    padding: 0 10px;
    transition: .5s;
}

.card:hover {
    transform: scale(1.1);
    border-color: #ea2e83;
}

.block {
    text-align: center;
    width: 18%;
    border: 1px solid black;
    text-decoration: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 20px 20px #F137A6 inset, 0 0 0 0 #F137A6;
    transition: .15s ease-in-out;
    color: #E975CE;
}

.block:hover {
    box-shadow: 0 0 10px 0 #F137A6 inset, 0 0 10px 4px #F137A6;
    color: white;
}

footer {
    background: linear-gradient(to right, #ff5db1 0%,#e502e5 33%,#ff02e1 66%,#ef017c 100%);
    height: 30px;
    margin-top: 5px;
    color: white;
    text-align: right;
    padding: 10px 10px 0;
}
