.aboutUs {
    background: linear-gradient(135deg, #ed3c2f 0%,#d39521 33%,#e800e8 69%,#ff5151 100%);
    color: white;
    text-align: center;
    margin: 0 auto;
    height: 623px;
}

.aboutUsTxt {
    width: 800px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.aboutUsHeading {
    margin: 0 0 20px;
}