.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.menu {
    width: 500px;
    margin: 0 auto 20px;
    text-align: center;
}

.homeBtn,
.aboutUsBtn,
.contactsBtn {
    outline: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition: .3s;
    border: 1px solid #524f4e;
}

.homeBtn:hover,
.aboutUsBtn:hover,
.contactsBtn:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46,229,157,.4);
    color: white;
    transform: translateY(-7px);
}
